body{
	font-size: 12px;
	color: #666666;
	font-family: Arial;
	text-height:2em;
}
.a{
	color: #727272;
	text-decoration: none;
}
#b{
	font-size: 14px;
	color: #B9F605;
	font-weight: bolder;
}
.cc{
	color: #FFFFFF;
}
